<style>
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #271b31;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#conteudo {
    max-width: 450px;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 1px 0px #00000060;
}

header > h1 {
    padding: 0 1rem 1rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

#form {
    padding: 0 1rem 1rem;
    margin-bottom: 0.5rem;
}

input, button {
    padding: 5px;
    margin: 5px;
}

input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
}

button {
  background-color: transparent;
  border-color: black;
  color: black;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
    background-color: black;
    color: white;
    transition: all .4s ease-out;
}
/*
textarea {    
    display: inline-block;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    padding-top: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}*/
</style>
<div id="conteudo">
        <header>
            <h1>Cadastrar Produtos</h1>
        </header>
        <div id="forms">
            <form action="/add" method="post" id="form">
                <div class="inputNome">
                    <input type="text" name="nome" placeholder="Nome do Produto" required>
                </div>
                <div class="inputTamanho">
                    <!--<textarea name="descricao" cols="47" rows="10" placeholder="Descrição do Produto (Tamanhos, cores ...)" minlength="10" required></textarea>-->
                    <input type="number" name="tamanho" placeholder="Tamanhos" required>
                </div>
                <div class="inputCor">
                    <input type="text" name="cor" placeholder="Cores" required>
                </div>
                <div class="inputEstoque">
                    <input type="number" name="estoque" placeholder="Estoque" required>
                </div>
                <div class="inputPreco">
                    <input type="number" name="preco" placeholder="Preço do Produto" step="000.01" required>
                </div>
                <button type="submit" id="button">Cadastrar</button>
            </form>
        </div>
    </div>