<style>
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #271b31;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#conteudo {
    max-width: 450px;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 1px 0px #00000060;
}

header > h1 {
    padding: 0 1rem 1rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

#form {
    padding: 0 1rem 1rem;
    margin-bottom: 0.5rem;
}

input, button {
    padding: 5px;
    margin: 5px;
}

input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
}

button {
  background-color: transparent;
  border-color: black;
  color: black;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
    background-color: black;
    color: white;
    transition: all .4s ease-out;
}
</style>
<div id="conteudo">
        <header>
            <h1>Cadastrar</h1>
        </header>
        <div id="forms">
            <form action="/add" method="post" id="form">
                <div class="inputNome">
                    <input type="text" name="nome" placeholder="Nome completo" required>
                </div>
                <div class="inputData">
                    <input type="date" name="data" required>
                </div>
                <div class="inputCpf">
                    <input type="text" name="cpf" placeholder="Digite seu CPF" maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite o CPF no formato 000.000.000-00" required>
                </div>
                
                <div class="inputEmail">
                    <input type="email" name="email" placeholder="user@exemplo.com" required>
                </div>
                <div class="inputSenha">
                    <input type="password" name="senha" id="inputSenha" placeholder="Crie uma senha" required minlength="6">
                </div>
                <div class="inputConfir">
                    <input type="password" name="confirSenha" id="inputConfir" placeholder="Confirme sua senha" required minlength="6">
                </div>
                <button type="submit" id="button">Cadastrar</button>
            </form>
        </div>
    </div>
    <script>
        var inputSenha = document.getElementById('inputSenha')
        var inputConfir = document.getElementById('inputConfir')

        function cadastrar(){
            if(inputSenha.value != inputConfir.value){
                inputConfir.setCustomValidity('Senha incorreta')
            } else {
                inputConfir.setCustomValidity('')
            }
        }

        inputSenha.onchange = cadastrar;
        inputConfir.onkeyup = cadastrar;
    </script>